#loadnews {
	width:650px;
	height:280px;
	overflow-y:scroll;
	overflow-x:hidden;
}
li {
	line-height: 28px;
	padding: 0 10px;
	font-size: 13px;
	list-style-type:none;
}
.bggrey {
	background: #EEE;
}
